root = true
Colors codes for various authorities
KMS #00488a
GP & Chainage #00199f
GP Label #740000
Grampanchayat #d43300
GP_forest #f69700
MDR black
MDR_FOREST #024300
NHAi #d0ca03
NHAI forest #677c00
PMGSY #ff8d4f
PMGSY_forest #005f2d
SH #007841, #01d63c
PWD #a174ee
PWD forest #4c24b5
Sh forest #b8ff79

